@font-face {
 font-family: 'Yeseva One';
 src: url(../assets/fonts/YesevaOne-Regular_v2.otf);
}

@font-face {
 font-family: 'Lato';
 src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
 font-family: 'Gentium Book Basic Bold';
 src: url(../assets/fonts/GenBkBasB.ttf);
}

@font-face {
 font-family: 'Open Sans';
 src: url(../assets/fonts/OpenSans-Regular.ttf);
}



/*---------specification---------*/

*,
*::before,
*::after {
 box-sizing: border-box;
}

body {
 display: flex;
 position: relative;
 flex-direction: column;
 margin: 0 auto;
 background-image: url(../assets/img/background/pattern.png);
 width: 1600px;
 height: 100%;
 min-height: 100vh;
 padding-bottom: 320px;
}

ul,
li,
p,
section,
figure,
article,
h3,
blockquote,
form,
footer {
 padding: 0;
 margin: 0;
}

section,
article,
aside,
footer {
 display: flex;
 justify-content: center;
 max-width: 1600px;
 width: 100%;
 height: 100%;
}

section>div {
 display: flex;
 max-width: 1250px;
 width: 100%;
 flex-wrap: wrap;
}

h3 {
 font-family: 'Yeseva One', cursive;
 font-size: 36px;
 padding-bottom: 15px;
 text-align: center;
 color: #cc9900;
 font-weight: 400;
}

p,
blockquote {
 font-family: 'Lato', sans-serif;
 text-align: center;
 font-size: 16px;
 width: 100%;
 color: #000;
 line-height: 1.5;
 overflow: hidden;
 text-overflow: ellipsis;
}

p {
 word-spacing: -1px;
 max-height: 150px;
}

h3::after {
 display: block;
 content: url(../assets/img/divider-h3.png);
 position: relative;
 top: 6px;
}



/*---------header---------*/

.header {
 display: flex;
 justify-content: center;
 position: absolute;
 height: 160px;
 max-width: 1600px;
 width: 100%;
 background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
 z-index: 10;
}

.header-wrapper {
 max-width: 1250px;
 width: 100%;
 height: 75%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.logo {
 position: relative;
 top: 2px;
 left: 4px;
}

.nav {
 position: relative;
 flex: 740px;
 left: 230px;
 top: 1px;
}

.menu {
 display: flex;
}

.menu li {
 list-style-type: none;
 margin-right: 25px;
}

.menu li:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(6)) {
 display: none;
}

.menu li:last-child {
 margin-right: 0;
}

.menu__item {
 padding: 46px 13px 0;
 border-top: 3px solid rgba(255, 255, 255, 0);
 text-decoration: none;
 color: #fff;
 font-family: 'Gentium Book Basic Bold', serif;
 font-size: 21px;
 transition: all 0.2s linear;
}

.menu__item:hover {
 border-top: 3px solid #c3c1b9;
}

.social-icons {
 display: flex;
 position: relative;
 margin-right: 29px;
 max-width: 84px;
 overflow: hidden;
}

.social-icons a {
 margin-right: 17px;
 font-size: 21px;
 text-decoration: none;
 color: #dab33e;
 transition: all 0.2s linear;
}

.social-icons a:last-child {
 margin-right: 0;
}

.social-icons a:hover {
 color: #FFE595;
}



/*---------promo---------*/

.promo {
 height: 750px;
 background-image: url(../assets/img/background/bg-promo.jpg);
}

h1 {
 display: none;
}

.promo-wrapper {
 position: relative;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 140px;
}

.heading-tagline {
 text-align: center;
 font-family: 'Yeseva One', cursive;
 font-size: 90px;
 color: rgba(255, 255, 255, 0.92);
 font-weight: 400;
 line-height: 1.3;
 text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
 max-height: 230px;
 overflow: hidden;
 text-overflow: ellipsis;
}

.divider {
 margin-top: -46px;
 margin-left: 5px;
}

.promo__btn {
 display: flex;
 padding-top: 33px;
 margin-left: 30px;
 max-height: 160px;
 flex-wrap: wrap;
 overflow: hidden;
}

.btn {
 text-decoration: none;
 text-transform: uppercase;
 font-family: 'Lato', sans-serif;
 font-size: 18px;
 font-weight: 400;
 text-align: center;
 text-shadow: 0px 1px 2px rgba(1, 1, 1, 0.64);
 width: 228px;
 height: 58px;
 border-width: 1px;
 border-style: solid;
 margin-right: 32px;
 padding: 20px;
 margin-bottom: 10px;
 color: #fff;
 transition: all 0.2s linear;
 border-color: rgba(255, 255, 255, 0.8);
 background-color: rgba(255, 255, 255, 0.3);
}

.btn:hover {
 background-color: rgba(0, 0, 0, 0.7);
 border-color: rgba(0, 0, 0, 0.8);
}



/*---------about---------*/

.about {
 min-height: 710px;
 background: linear-gradient(133deg, rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.1));
 box-shadow: inset 0 0 70px 10px rgba(0, 0, 0, 0.045);
}

.about-wrapper {
 position: relative;
 justify-content: space-around;
}

.about__image {
 position: relative;
 margin-left: -115px;
 order: 1;
 top: 56px;
 left: 3px;
}

.about-wrapper figure {
 display: flex;
 position: relative;
 flex-direction: column-reverse;
 align-items: center;
 margin-left: 40px;
 order: 0;
 top: -113px;
}

.about__description {
 display: flex;
 flex-direction: column;
 width: 432px;
 height: auto;
 margin-top: -10px;
}

.about__description__heading {
 margin-top: -28px;
}

.about__description__text {
 margin-top: 8px;
}

.chef {
 margin-top: 50px;
 margin-left: 70px;
}



/*---------slider---------*/

.slider {
 min-height: 758px;
 background-image: url(../assets/img/background/bg-slider.jpg);
}

.slider__wrapper {
 height: 73.48%;
 flex: 570px;
 justify-content: flex-end;
 align-self: center;
 flex-wrap: wrap;
}

.content {
 display: flex;
 width: 570px;
 height: 557px;
 background-image: url(../assets/img/background/bg-content.png);
 background-size: cover;
 justify-content: center;
 margin-right: 40px;
}

.content__description {
 display: flex;
 width: 430px;
 flex-wrap: wrap;
 flex-direction: row;
}

.content__img {
 border: 5px solid rgba(255, 255, 255, 0.1);
 border-radius: 50%;
 position: relative;
 overflow: hidden;
 width: 110px;
 height: 110px;
 margin: 0 auto;
 left: 1px;
 top: -5px;
}

.slider__wrapper>div:not(:first-of-type):not(:last-of-type),
.content__description div:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)),
.content__description figcaption:not(:first-of-type) {
 display: none;
}

.img-ingredient {
 position: absolute;
 margin: 0 auto;
 left: -46px;
 top: -30px;
}

.content__img:nth-last-child(3) {
 left: 6px;
}

.content__img:nth-last-child(2)>.img-ingredient {
 left: -43px;
 top: -88px;
}

.content__img:nth-last-child(1) {
 left: -1px;
}

.content__img:nth-last-child(1)>.img-ingredient {
 left: -44px;
 top: -15px;
}

.content__description figcaption {
 display: flex;
 flex-direction: column;
 margin-top: 42px;
}

.content__description__heading {
 margin: 36px 0;
 color: #fff;
}

.content__description__heading::after {
 filter: brightness(200%) grayscale(100%);
}

.content__description__text {
 color: #fff;
 margin-top: -30px;
}



/*---------menu-section---------*/

.menu-section {
 min-height: 994px;
 height: 100%;
 box-shadow: inset 0 0 70px 10px rgba(0, 0, 0, 0.045);
 background: url(../assets/img/background/bg-menu-pattern.png),
 linear-gradient(-44deg, rgba(255, 255, 255, 0.09), rgba(32, 90, 91, 0.09)),
 white;
}

.menu__wrapper {
 position: relative;
 top: 101px;
 justify-content: space-around;
}

.menu__column__left,
.menu__column__right,
.menu__wrapper article {
 display: flex;
 flex-direction: column;
 width: 460px;
}

.menu__wrapper>div:not(:nth-child(1)):not(:nth-child(2)),
.menu__column__left article:not(:nth-child(1)):not(:nth-child(2)),
.menu__column__right article:not(:nth-child(1)):not(:nth-child(2)) {
 display: none;
}

.menu__column__left {
 margin-left: -5px;
}

.menu__column__right {
 margin-left: -56px;
}

.menu__wrapper article {
 justify-content: flex-start;
}

.menu__wrapper article:nth-of-type(2) {
 position: relative;
 top: -67px;
}

.menu__column__right article:nth-child(2) {
 top: -167px;
}

.special {
 border-style: solid;
 border-width: 1px;
 border-image: url(../assets/img/border-special.png) 0 0 0 0 fill stretch;
}

.special span::before {
 content: "Special";
 position: absolute;
 top: -29px;
 right: -12px;
 font-family: 'Lato', sans-serif;
 color: #fff;
 font-size: 14px;
 font-weight: 400;
 background-image: url(../assets/img/background/bg-special.jpg);
 padding: 3px 13px;
}

.content__item__heading {
 position: relative;
 font-family: 'Yeseva One', cursive;
 color: #c89f2d;
 font-size: 21px;
 font-weight: 400;
 margin-top: 2px;
}

.content__item__heading:after {
 content: url(../assets/img/divider-line.png);
 position: relative;
 top: -7px;
}

.content__item__heading>span {
 position: relative;
 float: right;
 right: 5px;
}

.menu__wrapper article>div {
 margin-top: -13px;
 margin-left: 8px;
}

.content__item {
 margin-top: 13px;
 padding: 7px;
 padding-bottom: 10px;
}

.content__item__text {
 text-align: left;
 margin-top: -34px;
 line-height: 24px;
 word-spacing: 0px;
 max-height: 30px;
}




/*---------reviews---------*/

.reviews {
 min-height: 758px;
 height: 100%;
 background-image: url(../assets/img/background/bg-reviews.jpg);
 background-position-y: -264px;
}

.reviews-wrapper {
 justify-content: center;
}

.reviews-wrapper>div:not(:first-child) {
 display: none;
}

.reviews__content {
 background-image: url(../assets/img/background/bg-reviwes-content.png);
 height: 73.48%;
 width: 61.6%;
 align-self: center;
 display: flex;
 justify-content: center;
 position: relative;
}

.reviews__content__item {
 margin: 79px 70px 90px;
}

.reviews__content__item__heading {
 color: #fff;
}

.reviews__content__item__heading::after {
 filter: brightness(200%) grayscale(100%);
}

.reviews__content__item__text {
 color: #dde0df;
 font-family: 'Gentium Book Basic Bold', serif;
 font-size: 25px;
 line-height: 45px;
 max-height: 280px;
}

.reviews__content__item__text span {
 font-family: 'Lato', sans-serif;
 font-size: 18px;
 line-height: 90px;
 word-spacing: -1px;
 font-weight: 400;
}

.reviews__content__item__text::before {
 position: absolute;
 content: "\201c";
 font-family: "Georgia";
 font-weight: 400;
 font-size: 96px;
 color: rgba(242, 244, 244, 0.471);
 left: 28px;
 top: 185px;
}



/*---------reservations---------*/

.reservations {
 min-height: 710px;
 height: 100%;
 background: linear-gradient(170deg, rgba(255, 255, 255, .1), rgba(12, 53, 54, .1));
 box-shadow: inset 0 0 70px rgba(0, 0, 0, .05);
}

.reservations-wrapper {
 height: 71.4%;
 align-self: center;
}

.reservations__column__left {
 margin-left: 10px;
}

.reservations__column__left>img {
 margin-left: 29px;
}


.reservations-wrapper figure:not(:first-of-type),
.reservations-wrapper div:not(:first-of-type),
.reservations__column__left img:not(:first-child):not(:last-child),
.booking-form label:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)),
.booking-form>input[type="submit"]:not(:first-of-type),
.reservations-wrapper form:not(:first-of-type) {
 display: none;
}

.booking-form {
 display: flex;
 flex: 50%;
 flex-wrap: wrap;
 justify-content: center;
 position: relative;
 bottom: -42px;
 left: -6px;
}

.reservations__column__right {
 width: 431px;
 margin-left: 96px;
}

.reservations__column__right__text {
 margin-top: 7px;
 max-height: 85px;
}

label {
 flex-basis: 50%;
 font-family: 'Open Sans', sans-serif;
 font-size: 14px;
 font-weight: 700;
 color: #c9a131;
}

input {
 width: 200px;
 height: 36px;
 font-family: 'Open Sans', sans-serif;
 font-style: italic;
 font-size: 16px;
 margin-top: 6px;
 padding-left: 13px;
 background-color: rgba(255, 255, 255, 0.4);
 border: 1px solid rgb(200, 198, 198);
 outline: none;
}

label:nth-of-type(even) {
 margin-right: -29px;
}

label:nth-of-type(odd) {
 margin-right: 10px;
}

label:nth-child(3),
label:nth-child(4) {
 margin-top: 25px;
}


input:focus {
 border-color: rgb(200, 159, 45);
}


.data {
 background-image: url(../assets/img/icon-calendar.png);
 background-repeat: no-repeat;
 background-position: 173px;
}

.data:hover {
 background-size: 7%;
 background-position: 172px;
 cursor: default;
}

.data::-webkit-inner-spin-button {
 display: none;
}

.data::-webkit-calendar-picker-indicator {
 opacity: 0;
 padding: 10px 10px;
 cursor: pointer;
}

.data:active {
 background-size: 6.5%;
 background-position: 173px;
}

.number {
 background-image: url(../assets/img/icon-select.png);
 background-repeat: no-repeat;
 background-position: 178px;
}

.number::-webkit-inner-spin-button {
 position: relative;
 height: 100px;
 padding: 0 12px;
 top: 20px;
 opacity: 0;
 cursor: pointer;
}

.number::-moz-inner-spin-button {
 position: relative;
 height: 100px;
 padding: 0 12px;
 top: 20px;
 opacity: 0;
 cursor: pointer;
}

.number:hover {
 background-size: 6%;
 background-position: 171px;
}

.number:active {
 background-size: 5.5%;
 background-position: 171px;
}

.booking-btn {
 background: #c9a131;
 font-family: 'Open Sans', sans-serif;
 font-style: normal;
 font-size: 16px;
 color: #fff;
 border-style: none;
 margin-left: 16px;
 margin-top: 34px;
 padding-left: 10px;
 transition: all .06s linear;
}

.booking-btn:hover {
 background-color: #FCCB41;
}

.booking-btn:active {

 border: 1px solid rgba(255, 255, 255, .8);
 background: #F4C33B;
 font-size: 15px;
}



/*---------footer---------*/

.footer {
 position: absolute;
 bottom: 0;
 min-height: 320px;
 height: 100px;
 background-color: #191919;
}

.footer-wrapper {
 display: flex;
 align-items: center;
}

.footer__column {
 width: 390px;
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 top: -5px;
 max-height: 300px;
 overflow: hidden;
}

.footer__column:nth-child(2) {
 margin: 0 9px;
}

.footer__column:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)) {
 display: none;
}

.footer__column_heading {
 font-size: 21px;
 color: #fefefe;
 line-height: 24px;
}

.footer__column_heading:after {
 padding-top: 7px;
 filter: brightness(200%) grayscale(100%);
}

.footer__column_text {
 color: #fff;
 font-family: 'Open Sans', sans-serif;
 word-spacing: 0;
}

.bold {
 font-weight: 700;
}

.requisites,
.footer-social {
 margin-top: 51px;
}

.requisites i,
.footer-social i {
 font-size: 17px;
}

.requisites a,
.footer-social a {
 margin-left: 7px;
 text-decoration: none;
 color: #fff;
 transform: all .2s linear;
}

.requisites a:hover,
.footer-social a:hover {
 color: #aeaeae;
}